---
import { all } from "better-all";
import OrderItem from "@/components/order/order-item.astro";
import Separator from "@/components/order/separator.astro";
import SublineItem from "@/components/order/subline-item.astro";
import { Body } from "@/components/shared/typography/body";
import { Heading } from "@/components/shared/typography/heading";
import Layout from "@/layouts/layout.astro";
import { getEnrichedOrder } from "@/lib/medusa/order";
import { loadGlobalData } from "@/lib/sanity";
import { convertToLocale } from "@/lib/utils/medusa/money";

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404", 404);
}

const { globalData, order } = await all({
  globalData() {
    return loadGlobalData();
  },
  order() {
    return getEnrichedOrder(id);
  },
});

if (!order) {
  return Astro.redirect("/404", 404);
}

function convertMoney(amount: number) {
  return convertToLocale({
    amount,
    currency_code: order?.currency_code || "",
  });
}

const shippingMethod = order.shipping_methods?.[0];

const globalDataResult = globalData.result;
---

<Layout
  title={`Order #${order.display_id} confirmed`}
  globalData={globalDataResult}
>
  <div class="mx-auto flex max-w-300 flex-col gap-2xl px-s py-2xl md:py-8xl">
    <div class="flex flex-col gap-xs">
      <Heading
        className="mb-lg"
        desktopSize="2xl"
        font="serif"
        mobileSize="lg"
        tag="h1"
      >
        Thank you! Your order was placed successfully
      </Heading>

      <Body className="font-medium" desktopSize="xl" font="sans">
        We have sent the order confirmation details to {order.email}
      </Body>

      <Body desktopSize="base" font="sans">
        Order date:{" "}
        {new Date(order.created_at).toLocaleDateString("en-US", {
        day: "numeric",
        month: "long",
        year: "numeric",
      })}
      </Body>
      <Body desktopSize="base" font="sans">
        Order number: {order.display_id}
      </Body>
    </div>
    <div class="flex flex-col gap-s">
      <Heading desktopSize="xl" font="serif" mobileSize="lg" tag="h2">
        Summary
      </Heading>
      <div class="flex flex-col gap-s">
        {order.items?.map((item) => (
            <OrderItem
              currencyCode={order.currency_code}
              orderLineItem={item}
            />
          ))}
        <div class="h-px w-full bg-accent" />
        <SublineItem
          title="Subtotal"
          value={convertMoney(order.item_subtotal)}
        />
        <SublineItem title="Taxes" value={convertMoney(order.tax_total)} />
        <SublineItem
          title="Shipping"
          value={convertMoney(order.shipping_total)}
        />
        <Separator />
        <div class="flex justify-between">
          <Heading desktopSize="base" font="sans" mobileSize="sm" tag="h4">
            Total
          </Heading>
          <Heading desktopSize="base" font="sans" mobileSize="sm" tag="h4">
            {convertMoney(order.total)}
          </Heading>
        </div>
        <Separator />
      </div>
    </div>
    <div class="flex flex-col gap-s">
      <Heading desktopSize="xl" font="serif" mobileSize="lg" tag="h2">
        Delivery
      </Heading>
      <div class="flex flex-col gap-xl lg:flex-row lg:gap-s">
        <div class="flex flex-1 flex-col gap-1.5">
          <Body className="mb-1.5 font-semibold" desktopSize="base" font="sans">
            Shipping Address
          </Body>
          <Body className="font-medium" desktopSize="base" font="sans">
            {order.shipping_address?.first_name}
            {" "}
            {order.shipping_address?.last_name}
          </Body>
          <Body className="font-medium" desktopSize="base" font="sans">
            {order.shipping_address?.address_1}
          </Body>
          <Body className="font-medium" desktopSize="base" font="sans">
            {order.shipping_address?.postal_code},{" "}
            {order.shipping_address?.city}
          </Body>
        </div>
        <div class="flex flex-1 flex-col gap-1.5">
          <Body className="mb-1.5 font-semibold" desktopSize="base" font="sans">
            Contact
          </Body>
          <Body className="font-medium" desktopSize="base" font="sans">
            {order.email}
          </Body>
        </div>

        {shippingMethod ? (
            <div class="flex flex-1 flex-col gap-1.5">
              <Body
                className="mb-1.5 font-semibold"
                desktopSize="base"
                font="sans"
              >
                Method
              </Body>
              <Body className="font-medium" desktopSize="base" font="sans">
                {shippingMethod?.name}
                {shippingMethod?.amount
                  ? ` (${convertMoney(shippingMethod?.amount)})`
                  : null}
              </Body>
            </div>
          ) : null}
      </div>
    </div>
  </div>
</Layout>
