---
import type { Footer as FooterType } from "@packages/sanity/types";
import LocalizedLink from "@/components/shared/LocalizedLink.astro";
import SanityImage from "@/components/shared/SanityImage.astro";
import RichText from "@/components/portable-text/RichText.astro";
import Body from "@/components/shared/typography/Body.astro";
import Label from "@/components/shared/typography/Label.astro";

type Props = FooterType;

const props = Astro.props;
const currentYear = new Date().getFullYear();
---

<footer class="w-full bg-accent" id="footer">
  <div class="mx-auto flex w-full max-w-max-screen flex-col gap-2xl px-m pt-6xl pb-m text-background lg:px-xl lg:pb-xl">
    {/* Top Links */}
    <div class="flex flex-col items-start justify-between gap-2xl lg:flex-row">
      <div class="flex w-full justify-between lg:justify-start lg:gap-6xl">
        {props.information?.map((column) => {
          if (!column.text) {
            return null;
          }
          return (
            <div class="flex w-[170px] flex-col gap-xl">
              <RichText value={column.text} />
            </div>
          );
        })}
      </div>
      <div class="flex w-full justify-between lg:justify-end lg:gap-6xl">
        {props.linkList?.map((list) => (
          <div class="flex min-w-[170px] flex-col gap-xs lg:min-w-[196px]">
            {list.links?.map((link) => {
              if (!link.link) {
                return null;
              }
              return (
                <LocalizedLink href={link.link}>
                  <Body desktopSize="base" font="sans" mobileSize="sm">
                    {link.label}
                  </Body>
                </LocalizedLink>
              );
            })}
          </div>
        ))}
      </div>
    </div>

    {/* Footer Image */}
    {props.image && (
      <SanityImage class="lg:mt-2xl" data={props.image} />
    )}

    {/* Bottom Links */}
    <div class="flex flex-col justify-between gap-lg lg:flex-row lg:items-center">
      <div class="flex flex-col gap-2xl lg:flex-row">
        <Label desktopSize="xs" font="display" mobileSize="2xs">
          © {currentYear}
        </Label>
        <div class="flex flex-wrap gap-2xl">
          {props.bottomLinks?.map((link) => {
            if (!link.link) {
              return null;
            }
            return (
              <LocalizedLink class="whitespace-nowrap" href={link.link}>
                <Label desktopSize="xs" font="display" mobileSize="2xs">
                  {link.label}
                </Label>
              </LocalizedLink>
            );
          })}
        </div>
      </div>
      <div class="flex flex-wrap gap-2xl">
        {props.socialLinks?.map((link) => {
          if (!link.link) {
            return null;
          }
          return (
            <LocalizedLink href={link.link}>
              <Label desktopSize="xs" font="display" mobileSize="2xs">
                {link.label}
              </Label>
            </LocalizedLink>
          );
        })}
      </div>
    </div>
  </div>
</footer>
