---
import { all } from "better-all";
import ProductAddons from "@/components/pdp/addons/index.astro";
import { ProductImagesCarousel } from "@/components/pdp/image-carousel";
import { ProductInformation } from "@/components/pdp/product-information";
import SectionRenderer from "@/components/sections/section-renderer.astro";
import Preloads from "@/components/shared/preloads.astro";
import Layout from "@/layouts/layout.astro";
import { getProductByHandle } from "@/lib/medusa/products";
import { getRegion } from "@/lib/medusa/regions";
import { loadGlobalData, loadProductContent } from "@/lib/sanity";

const { handle } = Astro.params;
const searchParams = Astro.url.searchParams;

if (!handle) {
  return Astro.redirect("/404", 404);
}

const countryCode = Astro.locals.countryCode;

const { globalData, region, productRes, productContent } = await all({
  globalData() {
    return loadGlobalData();
  },
  region() {
    return getRegion(countryCode);
  },
  productContent() {
    return loadProductContent(handle);
  },
  async productRes() {
    const region = await this.$.region;
    if (!region) {
      return null;
    }
    return getProductByHandle(handle, region.id);
  },
});

const product = productRes?.data;
const tags = productRes?.tags;

if (!(region && product)) {
  return Astro.redirect("/404", 404);
}

const globalDataResult = globalData.result;
const productContentResult = productContent.result;

const syncTags = [
  ...(globalData.syncTags || []),
  ...(productContent.syncTags || []),
  ...(tags || []),
];

Astro.response.headers.set("Cache-Tag", syncTags.join(","));
---

<Layout
  title={product.title}
  description={product.description ?? ""}
  globalData={globalDataResult}
  syncTags={syncTags}
>
  <Preloads
    productImages={product.images?.slice(0, 2).map((img) => ({
      url: img.url,
      width: 591,
      height: 591,
    }))}
    slot="preloadedImages"
  />
  <section
    class="mx-auto flex max-w-max-screen flex-col items-start justify-start gap-s lg:flex-row lg:gap-xs lg:px-xl lg:py-m"
  >
    <ProductImagesCarousel client:load product={product} />
    <ProductInformation
      client:load
      searchParams={searchParams.toString()}
      content={productContentResult}
      regionId={region.id}
      {...product}
    >
      <ProductAddons
        server:defer
        slot="addonsNode"
        region={region}
        productContent={productContentResult}
      >
        <div
          slot="fallback"
          class="w-full bg-secondary h-79 lg:h-84.5 rounded-lg "
        />
      </ProductAddons>
    </ProductInformation>
  </section>

  {productContentResult?.sections && <SectionRenderer sections={productContentResult.sections} fieldName="body" />}
</Layout>
