---
import "@fontsource-variable/instrument-sans";
import "@fontsource/instrument-serif";
import "@fontsource/climate-crisis";
import { ClientRouter } from "astro:transitions";
import { SEO } from "astro-seo";
import Footer from "@/components/global/footer/index.astro";
import Header from "@/components/global/header/index.astro";
import { CountryInit } from "@/components/shared/country-init";
import config from "@/config";
import { getOgImages } from "@/lib/sanity/get-og-images";

import "@/styles/global.css";
import type { GLOBAL_QUERY_RESULT } from "@packages/sanity/types";

interface Props {
  globalData: GLOBAL_QUERY_RESULT;
  title?: string;
  description?: string;
}

const {
  title = config.title,
  description = config.description,
  globalData,
} = Astro.props;
---

<!doctype html>
<html
  lang="en"
  transition:animate="none"
  class="overflow-x-clip overscroll-y-none"
>
  <head>
    <meta charset="UTF-8">
    <SEO
      title={title}
      description={description}
      titleTemplate={`%s - ${config.title}`}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: globalData.fallbackOGImage ?  getOgImages(globalData.fallbackOGImage): ""
        },
        optional: {
          siteName: title,
          description: description,
        }
      }}
      twitter={{
        title,
        description,
        image: globalData.fallbackOGImage ?  getOgImages(globalData.fallbackOGImage): "",
        creator: "@Tinloof"
      }}
      extend={{
        link: [{rel: "icon", href: "/favicon.ico", type:"image/x-icon"}],
        meta: [{name: "viewport", content: "width=device-width"}]
      }}
    />
    <meta name="generator" content={Astro.generator}>
    <ClientRouter />
  </head>
  <body
    class="scrollbar-hide relative flex min-h-screen min-w-min-screen flex-col overflow-x-clip m-0!"
  >
    <CountryInit
      client:load
      countryCode={Astro.locals.countryCode}
      defaultCountryCode={Astro.locals.defaultCountryCode}
      pathname={Astro.url.pathname}
    />
    {globalData.header && <Header {...globalData.header} />}
    <main class="flex-1">
      <slot />
    </main>
    {globalData.footer && <Footer {...globalData.footer} />}
  </body>
</html>

<script is:inline>
  const favicon = document.querySelector('link[rel="icon"]');

  document.addEventListener("visibilitychange", () => {
    const state = document.hidden ? "-inactive" : "";

    if (favicon !== null) {
      if (state) {
        favicon.setAttribute("href", `/favicon${state}.ico`);
      } else {
        favicon.setAttribute("href", "/favicon.ico");
      }
    }
  });
</script>
